<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yfcloud.examination.business.test.dao.TestMapper">
  <resultMap id="BaseResultMap" type="org.yfcloud.examination.business.test.model.Test">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="college" jdbcType="VARCHAR" property="college" />
  </resultMap>
  <sql id="Base_Column_List">
    id, number, name, password, major, college
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_test
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_test
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.yfcloud.examination.business.test.model.Test">
    insert into tb_test (id, number, name, 
      password, major, college
      )
    values (#{id,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{college,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.yfcloud.examination.business.test.model.Test">
    insert into tb_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="college != null">
        college,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        #{college,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yfcloud.examination.business.test.model.Test">
    update tb_test
    <set>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="college != null">
        college = #{college,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yfcloud.examination.business.test.model.Test">
    update tb_test
    set number = #{number,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="login" parameterType="org.yfcloud.examination.business.test.model.Test" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_test  where name = #{0} AND password = #{1} AND number = #{2}
  </select>


  <select id="getCollegeList" parameterType="org.yfcloud.examination.business.test.model.Test" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_test
  </select>

</mapper>